Synchronise Canvas shell students with Team Site.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"office365groups_Connection_Name":{"defaultValue":"office365groups","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","dependsOn":["[resourceId('Microsoft.Web/connections', parameters('office365groups_Connection_Name'))]"],"properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"AUS Eastern Standard Time","schedule":{"hours":["1"]}},"type":"Recurrence"}},"actions":{"Initialize_Link_Headers_array":{"runAfter":{"Initialize_CanvasStudentEmail_string":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"LinksArray","type":"Array"}]},"description":"We will be getting the Links array from the headers sent back by the Canvas API. We will be looping through this to see if Canvas gives us a next page of results to check."},"Initialize_NextPageUrl_string":{"runAfter":{"Initialize_Link_Headers_array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NextPageUrl","type":"String","value":"@{variables('CanvasUrl')}:443/api/v1/courses/@{variables('CanvasCourseId')}/users?enrollment_type[]=student&per_page=100"}]},"description":"This string variable is initailly set to the first API call. We insert the Canvas CourseId to build the url."},"Do_until":{"actions":{"HTTP":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"@variables('NextPageUrl')","headers":{"Authorization":"Bearer @{variables('UserToken')}"}},"description":"This is the call to the Canvas API. We are using Header authentication. Note that the space between Bearer and UserToken is important."},"Condition_-_Check_Status_Code_returned_from_Canvas_API":{"actions":{"Parse_JSON_from_the_HTTP_request":{"runAfter":{"Apply_to_each_item_in_the_LinksArray":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":["string","null"]},"created_at":{"type":"string"},"sortable_name":{"type":["string","null"]},"short_name":{"type":["string","null"]},"sis_user_id":{"type":["string","null"]},"integration_id":{"type":["string","null"]},"login_id":{"type":["string","null"]}},"required":["id","name","created_at","sortable_name","short_name","sis_user_id","integration_id"]}}},"description":"OK. Before we loop around let's grab the JSON that was returned to us for this record set."},"Apply_to_each_item_in_the_LinksArray":{"foreach":"@variables('LinksArray')","actions":{"Condition_-_see_if_there_is_Link_item_with_for_the_next_page_of_results":{"actions":{"Set_variable_NextPageUrl":{"runAfter":{},"type":"SetVariable","inputs":{"name":"NextPageUrl","value":"@{substring(item(),1,indexOf(item(),'>'))}"},"description":"There is a next page url in the link item so we can set NextPageUrl to equal whatever Canvas gave us."}},"runAfter":{},"expression":{"contains":["@items('Apply_to_each_item_in_the_LinksArray')","next"]},"type":"If","description":"If the Link item has the word 'next' in it then this means there is another page and we need to go get it."}},"runAfter":{"Set_Links_Array_variable":["Succeeded"]},"type":"Foreach","description":"Now we'll loop through each item of the Link array check each in turn.","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"Set_Links_Array_variable":{"runAfter":{"Set_variable_NextPageUrl_to_none":["Succeeded"]},"type":"SetVariable","inputs":{"name":"LinksArray","value":"@split(actionOutputs('HTTP')['headers']?['link'],',')"},"description":"Now, let's get the Links header values as an array so we can see what's there."},"Set_variable_NextPageUrl_to_none":{"runAfter":{},"type":"SetVariable","inputs":{"name":"NextPageUrl","value":"none"},"description":"OK. we got a succesful status code back. Let's set the NextPageUrl variable to none and assume that there is no next page of results."},"Apply_to_each_student_record":{"foreach":"@body('Parse_JSON_from_the_HTTP_request')","actions":{"Condition":{"actions":{"Add_member_to_group":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"AddMemberToGroup"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365groups']['connectionId']"}},"method":"post","path":"/v1.0/groups/@{encodeURIComponent('3882f4f8-0dde-469e-972e-c965740854d7')}/members/$ref","queries":{"userUpn":"@variables('CanvasStudentEmail')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_CanvasStudentEmail":["Succeeded"]},"expression":{"equals":["@contains(variables('UsersInTeam'),toLower(variables('CanvasStudentEmail')))",false]},"type":"If","description":"See if the CanvasStudentEmail exists in the string of Teams users"},"Set_CanvasStudentEmail":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CanvasStudentEmail","value":"@{toLower(items('Apply_to_each_student_record')['login_id'])}@student.yourinstitution.edu.au"},"description":"Set the current CanvasStudentEmail"}},"runAfter":{"Parse_JSON_from_the_HTTP_request":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}}},"runAfter":{"HTTP":["Succeeded","Failed"]},"expression":{"equals":["@outputs('HTTP')['statusCode']",200]},"type":"If","description":"Anything other than 200 is a failure."}},"runAfter":{"Apply_to_each_user_in_the_current_Team":["Succeeded"]},"expression":"@equals(variables('NextPageUrl'), 'none')","limit":{"count":60,"timeout":"PT1H"},"type":"Until","description":"This is the main loop that manages the paging calls to the Canvas API. It will continue until the NextPageUrl is set to none."},"Initialize_CanvasCourseId_string":{"runAfter":{"Initialize_CanvasUrl_string":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CanvasCourseId","type":"String","value":"67235"}]},"description":"Create a variable that will hold the Canvas Course Id. Enter the Canvas Course Id of the course you want to sync."},"Initialize_UserToken_string":{"runAfter":{"Initialize_CanvasCourseId_string":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"UserToken","type":"String","value":"you_token"}]},"description":"Create a variable that will hold the Canvas access token"},"List_current_Team_members":{"runAfter":{"Initialize_NextPageUrl_string":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListGroupMembers"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365groups']['connectionId']"}},"method":"get","path":"/v1.0/groups/@{encodeURIComponent('3882f4f8-0dde-469e-972e-c965740854d7')}/members","queries":{"$top":999},"authentication":"@parameters('$authentication')"},"description":"Let's get the current list of users in the Team site. Select the Group Id from the drop down."},"Apply_to_each_user_in_the_current_Team":{"foreach":"@body('List_current_Team_members')?['value']","actions":{"Append_to_UsersInTeam_array_":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"UsersInTeam","value":"@toLower(items('Apply_to_each_user_in_the_current_Team')?['userPrincipalName'])"}}},"runAfter":{"List_current_Team_members":["Succeeded"]},"type":"Foreach","description":"So looping through each Team member.","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"Initialize_CanvasStudentEmail_string":{"runAfter":{"Initialize_UsersInTeam_array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CanvasStudentEmail","type":"String"}]},"description":"This is what we'll get from Canvas"},"Initialize_UsersInTeam_array":{"runAfter":{"Initialize_UserToken_string":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"UsersInTeam","type":"Array"}]},"description":"This holds the current members of the team"},"Initialize_CanvasUrl_string":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"CanvasUrl","type":"String","value":"https://yourinstitution.instructure.com"}]},"description":"Set your Canvas Url here in the form of https://yourinstitution.instructure.com"}}},"parameters":{"$connections":{"value":{"office365groups":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365groups')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365groups_Connection_Name'))]","connectionName":"[parameters('office365groups_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"}}}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('office365groups_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365groups')]"},"displayName":"[parameters('office365groups_Connection_Name')]"}}]}